<h1>{{actionType}} Cart Item </h1>
<form [formGroup]="form" (ngSubmit)="addData()" #formDir="ngForm" novalidate>

<!-- field for Product Id -->
  <div class="form-group row">
    <label class=" control-label col-md-12">Product Id</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="p_id">
    </div>
    <span class="text-danger ml-3" > 
    </span>
  </div>

  <!-- field for Price -->
  <div class="form-group row">
    <label class=" control-label col-md-12">Price</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName='c_price'>
    </div>
    <span class="text-danger ml-3" >
    </span>
  </div>

  <!-- field for Quantity -->
  <div class="form-group row">
    <label class=" control-label col-md-12">Quantity</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName='c_quantity'>
    </div>
    <span class="text-danger ml-3" >
    </span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Save</button>
  </div>
</form>
