<h1>{{actionType}} product </h1>
<form [formGroup]="form" (ngSubmit)="addData()" #formDir="ngForm" novalidate>

<!-- field for Product Name -->
  <div class="form-group row">
    <label class=" control-label col-md-12">Product Name</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="name">
    </div>
    <span class="text-danger ml-3" > 
    </span>
  </div>

  <!-- field for Price -->
  <div class="form-group row">
    <label class=" control-label col-md-12">Price</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName='p_price'>
    </div>
    <span class="text-danger ml-3" >
    </span>
  </div>

  <!-- field for Category Id -->
  <div class="form-group row">
    <label class=" control-label col-md-12">Category Id</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName='c_Id'>
    </div>
    <span class="text-danger ml-3" >
    </span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Save</button>
  </div>
</form>